/* reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 /* set up grid */
 .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  /* set up header */
  .header {
    grid-column: 1 / -1;
    background-color: #333;
    color: #fff;

    padding: 10px;
  }

   /* set up main content container*/
   .main {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding: 10px;
  }

 /* set up textboxes inside container */
  .textbox
  {
    
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #333;
    display: inline-block;
    width:25%;
    height:fit-content;
    margin-right: 5px;
    flex-shrink: 1;
  }

  .textbox1
  {
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #333;
    display: inline-block;
    width:25%;
    height:fit-content;
    margin-right: 5px;
  }

  .textbox2
  {
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #333;
    display: inline-block;
    width:25%;
    height:fit-content;
    margin-right: 5px;
  }

  /* set up left sidebar */
  .sidebar-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #eee;
    padding: 10px;
  }

 /* set up href and li element*/

 a, ul
 {
  text-decoration: none;
 }

 .sidebar-left a
 {
  text-decoration: none;
  color:#333;
  font-size: 20px;
  
 }


/* set up footer */
.footer {
    grid-column: 1 / -1;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    
  
  }

 