
.header
 {
  padding: 8px;
    display: flex; 
   border: 2px solid;
 justify-content: space-between;
 align-items: center;
 text-decoration: none;
 background-color:bisque;
 margin-top: 20px;
  }

  a
  {
    background-color: aliceblue;
  }


  a:hover
  {
    color:blue;
  }



  .LOGO
   {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: aliceblue;
    padding: 4px 32px;
  }

  ul,
  a
  {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: green;
   
  }
 
  .header1
  {
   padding: 8px;
     display: flex; 
    border: 2px solid;
  justify-content: space-between;
  text-decoration: none;
  background-color:azure;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  align-items: center;
   }

   .header1 a
   {
     color:#930bb5;
     background-color: transparent;
   margin
   }

  .LOGOx
  {
    margin-right: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    
  }


  .header1 a:hover
  {
  color: blue;
  }

 .header1 ul
 {
  gap: 8px;
 }
 
  .LOGO1x
  {
    display:flex;
    margin-right: 20px;
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    padding: 0;
  }

button
{
  background-color: #930bb5;
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
  border:none;
margin-left: auto;
  border-radius: 32px;
margin-right: 4.5%;

}

.profile-image 
{
  margin-left: auto;
  margin-left: -55px;
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border-color: red;
  
}
 
